.wrapper__headlines, .wrapper__news {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  max-width: 300px;
  flex-direction: column;
  border: 1px solid #000;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;

}

.overlay svg {
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(-360deg);
  }
  }